:root {
  --h1-font-family: "Shadows Into Light", cursive;
  --main-font-family: "Ubuntu", sans-serif;
  --h1-text-color: #30113e;
  --h2-text-color: #3c154e;
  --p-text-color: #79224c;
  --primary-background-color: #b4e9e4;
  --secondary-background-color: #f5e3fa;
  --link-color: #da0a6e;
}

body {
  line-height: 1.5;
}

footer a {
  background-color: #30113e;
  color: #ffff;
  display: flex;
  font-family: var(--h1-font-family);
  font-size: 25px;
  justify-content: center;
  letter-spacing: 2px;
  padding: 30px 0;
  text-decoration: none;
}

footer a:hover {
  color: var(--p-text-color);
}

.about-description {
  padding: 60px;
}

.about-section h1,
.work-section h1,
.contact-section h1 {
  color: var(--h1-text-color);
  font-family: var(--h1-font-family);
  font-size: 96px;
}

.about-section h2,
.work-section h2,
.contact-section h2 {
  color: var(--h2-text-color);
  font-size: 35px;
  font-family: var(--main-font-family);
}

.about-section p,
.work-section p {
  color: var(--p-text-color);
  font-family: var(--main-font-family);
  font-size: 20px;
}

.bg-white {
  background-color: var(--secondary-background-color) !important;
}

.contact-section {
  text-align: center;
}

.contact-section p {
  color: var(--h1-text-color);
  font-family: var(--main-font-family);
  font-size: 20px;
}

.hero h1 {
  color: var(--h1-text-color);
  font-size: 130px;
  font-family: var(--h1-font-family);
}

.hero h2 {
  color: var(--h2-text-color);
  font-size: 30px;
  font-family: var(--main-font-family);
}

.homepage-pictures-section {
  background-color: var(--primary-background-color);
  padding: 50px;
}

.hero {
  padding: 50px 60px;
  text-align: center;
}

.logo-section {
  background-color: var(--primary-background-color);
  color: var(--h1-text-color);
  font-family: var(--p-font-family);
  font-size: 20px;
  padding: 30px 100px;
  text-align: center;
}

.mail-link {
  background-color: var(--primary-background-color);
  padding: 50px 0;
}

.mail-link a {
  color: var(--link-color);
  font-family: var(--main-font-family);
  font-size: 25px;
  text-decoration: none;
}

.mail-link a:hover {
  color: var(--p-text-color);
}

.nat-photo {
  padding: 60px;
}

.nav-item .active {
  color: var(--link-color) !important;
}

.nav-link {
  color: var(--h2-text-color) !important;
  font-family: var(--main-font-family);
}

.navbar-brand {
  color: var(--h1-text-color) !important;
  font-family: var(--h1-font-family);
  font-size: 30px;
}

.profiles {
  margin: 0 auto;
  width: 300px;
}

.project-button {
  background-color: #3c154e;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffff;
  font-family: var(--p-font-family);
  margin-bottom: 15px;
}

.project-button:hover {
  background-color: var(--link-color);
  color: #ffff;
  transition: ease-in-out 2s;
}

.project-description {
  padding: 15px 45px 0 0;
}

.work-container {
  background-color: var(--primary-background-color);
  margin: 60px 0 0 0;
  padding: 40px 0;
}

.work-section hr {
  color: #30113e;
  opacity: 60%;
}

.work-section img {
  display: block;
  margin: 15px auto;
  max-width: 70%;
}

@media (max-width: 1024px) {
  .about-description {
    padding: 10px;
  }
  .about-section,
  .work-container {
    padding: 30px 15px;
    text-align: center;
  }
  .about-section h1,
  .work-section h1,
  .contact-section h1 {
    font-size: 45px;
    padding: 0;
  }
  .about-section h2,
  .work-section h2,
  .contact-section h2 {
    font-size: 25px;
  }
  .about-section img,
  .work-section img {
    margin: 20px auto;
  }
  .hero {
    padding: 50px 5px;
  }
  .hero h1 {
    font-size: 80px;
  }
  .hero h2 {
    font-size: 22px;
    line-height: 1.5;
  }
  .homepage-pictures-section img {
    display: block;
    margin: 20px auto;
    width: 90%;
  }
  .logo-section {
    font-size: 16px;
    padding: 30px 15px;
  }
  .mail-link a {
    font-size: 20px;
  }
  .project-button {
    width: 80%;
  }
  .project-description {
    padding: 0;
  }
  .nat-photo {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    padding: 0;
  }
}
