/* font-family: 'Shadows Into Light', cursive;
font-family: 'Zen Old Mincho', serif; 
font-family: 'Ubuntu', sans-serif;
*/

:root {
  --h1-font-family: "Shadows Into Light", cursive;
  --h2-font-family: "Zen Old Mincho", serif;
  --p-font-family: "Ubuntu", sans-serif;
  --h1-text-color: #30113e;
  --h2-text-color: #3c154e;
  --p-text-color: #79224c;
  --primary-background-color: #b1e4df;
}

.about-section h1,
.work-section h1 {
  color: var(--h1-text-color);
  font-family: "Shadows Into Light", cursive;
  font-size: 96px;
}

.about-section h2,
.work-section h2 {
  color: var(--h2-text-color);
  font-size: 35px;
  font-family: var(--h2-font-family);
}

.about-section p,
.work-section p {
  color: var(--p-text-color);
  font-family: var(--p-font-family);
  font-size: 20px;
  padding-right: 60px;
}

.hero h1 {
  color: var(--h1-text-color);
  font-size: 130px;
  font-family: var(--h1-font-family);
}

.hero h2 {
  color: var(--h2-text-color);
  font-size: 35px;
  font-family: var(--h2-font-family);
}

.homepage-pictures-section {
  background-color: var(--primary-background-color);
  padding: 60px 30px;
}

.hero {
  padding: 50px 60px;
  text-align: center;
}

.logo-section {
  background-color: var(--primary-background-color);
  color: var(--h1-text-color);
  font-family: var(--p-font-family);
  padding: 30px 100px;
  text-align: center;
}

.nat-photo {
  padding: 60px;
}

.project-button {
  background-color: #3c154e;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #ffff;
  font-family: var(--p-font-family);
}

.project-button:hover {
  background-color: #ca387e;
  color: #ffff;
  transition: ease-in-out 2s;
}

.project-description {
  padding: 35px;
}

.work-container {
  background-color: var(--primary-background-color);
}

.work-section img {
  margin: 15px;
}

@media (max-width: 1024px) {
  .about-section {
    padding: 60px;
  }
  .about-section h1,
  .work-section h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-section img {
    display: block;
    margin: 50px auto;
  }
  .about-section p {
    padding-right: 20px;
  }
  .hero {
    padding: 50px 5px;
  }
  .hero h1 {
    font-size: 80px;
  }
  .hero h2 {
    font-size: 22px;
    line-height: 1.5;
  }
  .homepage-pictures-section {
    padding: 50px;
  }
  .homepage-pictures-section img {
    margin: 20px auto;
  }
  .logo-section {
    padding: 30px 40px;
  }
  .nat-photo {
    padding: 0;
  }
}
